//fonts
$google-font: "https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap";

$baseFontSize: 16px;
$baseFontFamily: "Poppins",
sans-serif;
$mediumFontWeight: 400;
$boldFontWeight: 600;

// Paths

$imagesPath: "../i/";

// Colors
$menuColor: #3D4146;
$black: #000000;
$halfBlack: rgba(0, 0, 0, .5);
$white: #ffffff;
$selectGray: #808f96;
$btnHover: #F0F1F3;
$arrowColor: rgba(0, 0, 0, .25);
$windowBackground: rgba(0, 0, 0, .8);
$headerHover: #F3F5F6;
$menuLinks: rgba(0, 0, 0, .6);
$menuLinksHover: rgba(0, 0, 0, .85);
$red: rgb(173, 13, 13);
$placeholder: #c9c8c8;
$footer: #b4b4b4;